@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font settings */
html {
  font-family: var(--font-roboto);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-roboto);
}

.slick-slide > div {
  margin: 0 10px !important; /* Adjust the margin to control the gap */
}

/* body {
  background-color: #ffffff;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f1e9ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
} */

section {
  background-color: #ffffff;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f1e9ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-ubuntu);
}

/* Responsive font sizes */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5,
h6 {
  font-size: 1.25rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

/* modal.css */
.modal-scrollbar::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbe1da; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9; /* Color of the scrollbar track */
}

.modal-scrollbar::-moz-scrollbar {
  width: 8px; /* Width of the scrollbar for Firefox */
}

.modal-scrollbar::-moz-scrollbar-thumb {
  background-color: #cbd5e1; /* Color of the scrollbar thumb for Firefox */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb for Firefox */
}

.modal-scrollbar::-moz-scrollbar-track {
  background: #f1f5f9; /* Color of the scrollbar track for Firefox */
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(100vh) scale(0.5);
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-10vh) scale(1.5);
    opacity: 0;
  }
}

img[src*='#markdown-start-project'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-register'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-category'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-payments'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-accounts'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-campaign'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-story'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-details'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-create'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-confirm'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-live'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-bankaccount'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-selectbank'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

img[src*='#markdown-transferspage'] {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.prose iframe,
.prose video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio for videos */
  /* border-radius: 0.5rem;  Optional: Add rounded corners */
}
